* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
 /*   background: linear-gradient(120deg, #222, #444); */
    color: white;
    background: url("Background.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 50px;
    text-align: center; 
  
}

/* Navigation */
nav {
    background: #111;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px; 
    margin-left: 3px; 
    transition: 2s;
}

nav a:hover {
    padding: 10px;
    background: #333; 
}

/* Sections */
section {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#typing {
  color: #00ff00;
  font-family: monospace;
  border-right: 2px solid #00ff00;
  padding-right: 5px;
}

/* Contact form */
input, textarea {
    width: 85%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: 3s;
}
input:hover{
  width: 100% ;
 border: 1px solid black;
  
}

button {
    background: #222;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #444;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Animations */
.fade-in {
    animation: fadeIn 1.5s ease-in;
}

.slide-up {
    animation: slideUp 1s ease;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {transform: translateY(40px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

/* Mobile friendly */
@media (max-width: 600px) {
    header h1 {
        font-size: 22px;
    }
    nav a {
        padding: 10px;
    }
}
